:root {
  --main-green: rgb(66, 165, 66);
  --secondary-green: rgb(16, 123, 66);
  --light-green: rgb(140, 206, 107);
  --yellow: rgb(250, 248, 0);
  --main-red: rgb(212, 33, 44);
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Rubik', sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-green);
  color: rgb(245, 0, 0);
}
